html {
  font-family: "Noto Serif", serif;
}

header, footer {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border: none;
}

select,
input,
textarea,
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  border-color: #6e8c62;
}

span {
  color: #70ad55;
}

hr {
  border-top: 1px solid #70ad55;
}

.btn {
  background-color: #6e8c62;
  border: none;
}
